.profile{

    &__block{
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        background-color: #2F3136;
        border-radius: 15px;
        box-shadow: 0px 4px 4px #292B2F;
    }

    &__main{
        padding-left: 35px;
        padding-top: 35px;
        padding-right: 35px;
        padding-bottom: 35px;
        display: flex;
        flex-direction: row;
    }

    &__avatar{
        
        img {
            width: 150px;
            height: 150px;
            border-radius: 10px;
        }
    }

    &__info{
        margin-left: 40px;
        width: 800px;
        height: 150px;
        background-color: #282A2E;
        border-radius: 10px;

        h2 {
            color: #FFFFFF;
            font-size: 24px;
            padding-bottom: 5px;
            margin-bottom: 25px;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 25px;;
            border-bottom: 1px solid #FFFFFF;
        }

        p{
            color: #FFFFFF;
            font-size: 18px;
            margin-left: 10px;
            margin-bottom: 10px;
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        max-width: 1060px ;
        align-items: center;

        h2 {
            color: #FFFFFF;
            font-size: 24px;
            padding-bottom: 20px;
            padding-left: 35px;
            padding-top: 35px;
            padding-right: 35px;
            border-bottom: 1px solid #FFFFFF;
            text-align: center;
        }
    }
}